<!DOCTYPE html>
<html>
  <head>
    <title>Overheard</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1>Overheard</h1>

        <a href="/" class="btn btn-default">Home</a>
        <a href="/logout" class="btn btn-default">Logout</a>

      </div> <!-- jumbotron -->

      <p>id: <%= user.id %></p>
      <p>email: <%= user.local.email %></p>

      <hr>

      <p>Twitter id: <%= user.twitter.id %></p>
      <p>Twitter username: <%= user.twitter.username %></p>
      <p>Twitter displayname: <%= user.twitter.displayName %></p>
        
      <hr>

      <p>Google id: <%= user.google.id %></p>
      <p>Google email: <%= user.google.email %></p>
      <p>Google name: <%= user.google.name %></p>

      <hr>

      <p>Instagram id: <%= user.instagram.id %></p>
      <p>Instagram username: <%= user.instagram.username %></p>
      <p>Instagram name: <%= user.instagram.name %></p>

    </div> <!-- container -->
  </body>
</html>
